   <%= provide(:title, @user.name) %>
   <div class="page">
   	<div class="page-header">
   		<div class="page-header-content">
   			<h1><%= @user.name %></h1>
   		</div>
   	</div>

   	<div class="page-region">
   		<div class="page-region-content">
   			<asside class="place-right">
   				<div class="tile triple bg-color-blueDark">
   					<div class="tile-content user-info">
   						<%= image_tag @user.avatar.url, class:"place-right" %>
   						<h4><%= @user.name %></h4>
   						<p>
   							<a>Added phones: <%= @user.phones.count %></a>
                     </br>
   							<a>Comments: <%= @user.comments.count %></a>
   						</p>
   					</div>
   				</div>
   			</asside>

            <div class="span10 offset1">
   			<h3><%= @user.name %>'s Phones</h3>


   			<% @phones.each do |phone| %>

   			<div class="tile bg-color-<%=@colors[rand(16)]%> double">
   				<div class="tile-content">
   					<div class="phone_index_image"><%= link_to image_tag(phone.picture.url, :height => "100px", :width => "100px"), phone %></div>
   					<div class="phone_index_link"><%= link_to phone.make+' '+phone.model, phone %></div>
                  <div class="phone_index_link">Comments: <%= phone.comments.count %></div>

   					<%if signed_in? && current_user.admin? %>

   					<div class="phone_index_admin_links">
   						<%= link_to 'Show', phone %> |
   						<%= link_to 'Edit', edit_phone_path(phone) %> |
   						<%= link_to 'Delete', phone, method: :delete, data: { confirm: 'Are you sure?' } %>
   					</div>
   					<% end %>
   				</div>
   			</div>

   			<% end %>
         </div>

   			<div class="clear" style="clear:both;"></div>
   			<br />
   			<div class="phone_index_page_links"><%= will_paginate @phones %></div>
   		</div>

   	</div>
</div>