   <%= provide(:title, "#{@user.name_groom} i #{@user.name_bride}") %>

   <div class='cover'>
    <%= image_tag (@user.avatar.url) %>  
    <div id='welcome_message'>
     Dobro Dosli na stranicu <%= "#{@user.name_groom} i #{@user.name_bride} #{@user.last_name}" %>
   </div> 	
 </div>

 <div class="panel panel-story">
  <div class="panel-heading">Nasa Prica:
   <% if signed_in? && current_user?(@user) %>
   <a href='javascript:void(0)' class='btn btn-default' id='show_story_edit_button'> Uredi </a>
   <% end %>
 </div>
 <div id='story_content'>
  <% if @user.story && @user.story.story_text %>
  <%= simple_format(@user.story.story_text) %>
  <% else %>
  <p> Jos nismo podjelili nasu pricu </p>
  <% end %>
  <% if current_user?(@user) %>
  <%= render 'stories/edit'  %>
  <% end %>
</div>

</div>

<%= render 'wishlist'  %>
<% if signed_in? && current_user.id==@user.id %>
<%= render 'item_form' %>
<% end %>