<footer >

	<%= link_to "Eventify", root_path %>
	by
	<%= mail_to "b.ttalic@gmail.com", "Benjamin Talic" %>
	<span class='pull-right'>
		<%= image_tag ('g+.png') %>
		<%= image_tag ('tw.png') %>
		<%= image_tag ('fb.png') %>
	</span>
</footer>