
<ul class="thumbnails">
 
  <li >
    <div class="thumbnail">
      <div class='thumbnail-top'>
       <span class='pull-left'> <%= image_tag("prsten.png", :size => "80x40", :alt => "Wedify", :class => "round") %> <h3> Prsten </h3> </span>
       <span class='pull-right'><a href="http://bootsnipp.com/" class="btn  btn-default">Vise</a></span>
     </div>

     <div class='thumbnail-content'>
      
     </div>

   </div>
 </li>


  <li >
    <div class="thumbnail">
      <div class='thumbnail-top'>
         <span class='pull-left'> <%= image_tag("kalendar.png", :size => "80x40", :alt => "Wedify", :class => "round") %> <h3> Dan Vjenčanja </h3> </span>
       <span class='pull-right'><a href="http://bootsnipp.com/" class="btn  btn-default">Vise</a></span>
     </div>

     <div class='thumbnail-content'>
     </div>

   </div>
 </li>

 <li >
    <div class="thumbnail">
      <div class='thumbnail-top'>
         <span class='pull-left'>  <%= image_tag("gosti3.png", :size => "80x40", :alt => "Wedify", :class => "round") %> <h3> >Gosti </h3> </span>
       <span class='pull-right'><a href="http://bootsnipp.com/" class="btn  btn-default">Vise</a></span>
     </div>

     <div class='thumbnail-content'>
     </div>

   </div>
 </li>

 
<li >
  <div class="thumbnail">
   <%= image_tag("torta.png", :size => "80x40", :alt => "Wedify", :class => "round") %>
   <div class="caption">
    <h3>Hrana</h3>
    <p>Uz Wedify izaberite najbolje od najboljeg za vaš najvažniji dan!</p>
    <p align="center"><a href="http://bootsnipp.com/" class="btn  btn-default">Opšrinije</a></p>
  </div>
</div>
</li>
<li >
  <div class="thumbnail">
   <%= image_tag("flower.png", :size => "80x40", :alt => "Wedify", :class => "round") %>
   <div class="caption">
    <h3>Dekoracija</h3>
    <p>Wedify vam nudi najbolji i najkvalitetniji program dekorativnog asortimana!</p>
    <p align="center"><a href="http://bootsnipp.com/" class="btn  btn-default">Opšrinije</a></p>
  </div>
</div>
</li>
<li >
  <div class="thumbnail">
   <%= image_tag("foto.png", :size => "80x40", :alt => "Wedify", :class => "round") %>
   <div class="caption">
    <h3>Fotografije</h3>
    <p>Wedify će vam pomoći da se zauvijek sjećate najljepših trenutaka uz najbolje usluge foto-video usluge!</p>
    <p align="center"><a href="http://bootsnipp.com/" class="btn  btn-default">Opšrinije</a></p>
  </div>
</div>
</li>
